@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="page contact-us-page" >
        <section class="clean-block clean-form dark"> 
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <h1 class="text-center pt-5">Facebook</h1>
                        <ul>
                            <li><p class="pt-3 text-center">For More Information Visit Our Facebook Page</p></li>
                            <li class="d-flex justify-content-center"><a href="https://www.facebook.com/hamiimughal786/"><button class="btn btn-outline-primary btn-lg social-btn1" type="button">Facebook</button></a></li>
                        </ul>
                        
                        
                    </div>
                    <div class="col-sm-4">
                        <h2 class="text-center pt-5">Mail</h2>
                        <ul>
                            <li><p class="pt-5 text-center">For Queries And Reviews Mail Us On</p></li>
                            <li  class="d-flex justify-content-center"><a href="mailto:18101001-072@uskt.edu.pk"><button class="btn btn-outline-primary btn-lg social-btn2" type="button">Mail Us</button></a></li>
                        </ul>
                        
                    
                    </div>
                    <div class="col-sm-4">
                        <h2 class="text-center pt-5">Mail</h2>
                        <ul>
                            <li><p class="pt-5 text-center">For Direct Info Call Us On Our Number</p></li>
                            <li  class="d-flex justify-content-center"><a href="tel:923328432678"><button class="btn btn-outline-primary btn-lg social-btn2" type="button">Contact No</button></a></li>
                        </ul>
                        
                    
                    </div>
                </div>

            </div>
        </section>
    </section>


     <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>